<title> {color:Blue;}
<h1> {color:Pink;}
<li> {background-color: violet}
<img> 
{border: 5px double #ddd; border-radius: 4px; padding: 7px; width: 500px; border-color Blue}
p {background-color:Violet}
body {background-image: url(Background.jpg)}